th,td {
    border: 1px solid black;
    border-collapse:collapse;
    padding: 7px;
    text-align: center;
}

.t1 {
    border: 1px solid black;
    border-collapse:collapse;
    margin-top: 1%;
    width: 80%;
}

.table2 {
    width: 80%;
}

.text0 { 
    font-size: 18px;
    text-align: left;
}

.head {
    font-size: 24px;
}


